{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> template  </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/resume1.css' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

</head>
<body>

         <div class="col-10 col-sm-8 col-md-5 popup-cv" style="display: flex;
    justify-content: center;" id="overflow">
                    <div class="background-effect mt-5" id="background-effect" >
                      <div class="remove-modal-btn">
                        <h2 onclick="hide()" class="cross-icon mr-auto" ><i class="far fa-times-circle"></i></h2>
                      </div>
                      <div class="resume-parent hover-effect"><div class="zoom" id="b"><i class="fas fa-search-plus"></i></div>
                  <div class="resume " id="resume" onclick="show()">


                <div class="resume_left">
                    {% for i in data %}

                         <div class="resume_profile">
                            <img src="{{ i.image.url }}" alt="profile_pic">
                         </div>
                       <div class="resume_content">
                         <div class="resume_item resume_info">


                               <div class="title">
                                 <p class="bold">{{ i.first_name }} {{ i.last_name }}</p>
                                 <p class="regular">Software Engineer (Intern)</p>
                               </div>
                                   <ul>
                                     <li>
                                       <div class="icon">
                                         <i class="fas fa-map-signs"></i>
                                       </div>
                                       <div class="data">
                                        {{ i.address }} <br /> Bangladesh
                                       </div>
                                     </li>
                                     <li>
                                       <div class="icon">
                                         <i class="fas fa-mobile-alt"></i>
                                       </div>
                                       <div class="data">
                                           {{ i.phone }}
                                       </div>
                                     </li>
                                     <li>
                                       <div class="icon">
                                         <i class="fas fa-envelope"></i>
                                       </div>
                                       <div class="data">
                                         {{ i.email }}
                                       </div>
                                     </li>
                                     <li>
                                       <div class="icon">
                                         <i class="fab fa-weebly"></i>
                                       </div>
                                       <div class="data">
                                         www.masturainchand.com
                                       </div>
                                     </li>
                                   </ul>
                             {% endfor %}

                         </div>
                         <div class="resume_item resume_skills">
                           <div class="title">
                             <p class="bold">skill's</p>
                           </div>
                           <ul>
                             <li>
                               <div class="skill_name">
                                 HTML
                               </div>
                               <div class="skill_progress">
                                 <span style="width: 80%;"></span>
                               </div>
                               <div class="skill_per">80%</div>
                             </li>
                             <li>
                               <div class="skill_name">
                                 CSS
                               </div>
                               <div class="skill_progress">
                                 <span style="width: 70%;"></span>
                               </div>
                               <div class="skill_per">70%</div>
                             </li>
                             <li>
                               <div class="skill_name">
                                 JAVASCRIPTS
                               </div>
                               <div class="skill_progress">
                                 <span style="width: 90%;"></span>
                               </div>
                               <div class="skill_per">90%</div>
                             </li>
                             <li>
                               <div class="skill_name">
                                 PYTHON
                               </div>
                               <div class="skill_progress">
                                 <span style="width: 60%;"></span>
                               </div>
                               <div class="skill_per">60%</div>
                             </li>
                             <li>
                               <div class="skill_name">
                                 DJANGO
                               </div>
                               <div class="skill_progress">
                                 <span style="width: 88%;"></span>
                               </div>
                               <div class="skill_per">88%</div>
                             </li>
                           </ul>
                         </div>
                         <div class="resume_item resume_social">
                           <div class="title">
                             <p class="bold">Social</p>
                           </div>
                           <ul>
                             <li>
                               <div class="icon">
                                 <i class="fab fa-facebook-square"></i>
                               </div>
                               <div class="data">
                                 <p class="semi-bold">Facebook</p>
                                 <p>https://www.facebook.com/chand.masturain/</p>
                               </div>
                             </li>
                             <li>
                               <div class="icon">
                                 <i class="fab fa-twitter-square"></i>
                               </div>
                               <div class="data">
                                 <p class="semi-bold">Twitter</p>
                                 <p>https://twitter.com/masturain</p>
                               </div>
                             </li>
                             <li>
                               <div class="icon">
                                 <i class="fab fa-linkedin"></i>
                               </div>
                               <div class="data">
                                 <p class="semi-bold">Linkedin</p>
                                 <p>https://www.linkedin.com/in/masturain-chand-0685681a2/</p>
                               </div>
                             </li>
                             <li>
                               <div class="icon">
                                 <i class="fab fa-github"></i>
                               </div>
                               <div class="data">
                                 <p class="semi-bold">GitHub</p>
                                 <p>https://github.com/Masturain-Chand</p>
                               </div>
                             </li>
                           </ul>
                         </div>
                       </div>
                    </div>
                    <div class="resume_right">
                      <div class="resume_item resume_about">
                          <div class="title">
                             <p class="bold">About</p>
                           </div>
                          <p>Hello, This is Chand</p>
                      </div>
                      <div class="resume_item resume_work">
                          <div class="title">
                             <p class="bold">Work Experience</p>
                           </div>
                          <ul>
                              <li>
                                  <div class="date">2013 - 2015</div>
                                  <div class="info">
                                       <p class="semi-bold">Lorem ipsum dolor sit amet.</p>
                                    <p class="pera">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
                                  </div>
                              </li>
                               <li>
                                  <div class="date">2013 - 2015</div>
                                  <div class="info">
                                       <p class="semi-bold">Lorem ipsum dolor sit amet.</p>
                                    <p class="pera">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
                                  </div>
                              </li>
                              <li>
                                <div class="date">2015 - 2017</div>
                                <div class="info">
                                       <p class="semi-bold">Lorem ipsum dolor sit amet.</p>
                                    <p class="pera">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
                                  </div>
                              </li>
                              <li>
                                <div class="date">2017 - Present</div>
                                <div class="info">
                                       <p class="semi-bold">Lorem ipsum dolor sit amet.</p>
                                    <p class="pera">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
                                  </div>
                              </li>
                          </ul>
                      </div>
                      <div class="resume_item resume_education">
                        <div class="title">
                             <p class="bold">Education</p>
                           </div>
                        <ul>
                              <li>
                                  <div class="date">2010 - 2013</div>
                                  <div class="info">
                                       <p class="semi-bold">Web Designing</p>
                                    <p class="pera">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
                                  </div>
                              </li>
                              <li>
                                <div class="date">2000 - 2010</div>
                                <div class="info">
                                       <p class="semi-bold">X School</p>
                                    <p class="pera">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
                                  </div>
                              </li>
                          </ul>
                      </div>
                      <div class="resume_item resume_hobby">
                        <div class="title">
                             <p class="bold">Hobby</p>



                           </div>

                      </div>
                    </div><!--resume-->
                    </div>
                    </div>


          </div>
        </div><!--row-->



  <div class="container clearfix">


  </div>
</body>
</html>