{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> template  </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/resume1.css' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">



</head>
<body>
<input type="button"  onclick="printDiv()" value="Generate PDF">




<div id="cv">
         <div class="col-10 col-sm-8 col-md-5 popup-cv" style="display: flex;
    justify-content: center;" id="overflow" >
                    <div class="background-effect mt-5" id="background-effect" >
                      <div class="remove-modal-btn">
                        <h2 onclick="hide()" class="cross-icon mr-auto" ><i class="far fa-times-circle"></i></h2>
                      </div>
                      <div class="resume-parent hover-effect"><div class="zoom" id="b"><i class="fas fa-search-plus"></i></div>
                  <div class="resume " id="resume" onclick="show()">

{% for i in data %}

                <div class="resume_left">




                         <div class="resume_profile">
                            <img src="{{ i.image.url }}" alt="profile_pic">

                         </div>
                       <div class="resume_content">
                         <div class="resume_item resume_info">


                               <div class="title">
                                 <p class="bold">{{ i.first_name }} {{ i.last_name }}</p>
                                 <p class="regular">{{i.profession }}</p>
                               </div>
                                   <ul>
                                     <li>
                                       <div class="icon">
                                         <i class="fas fa-map-signs"></i>
                                       </div>
                                       <div class="data">
                                        {{ i.address }} <br /> Bangladesh
                                       </div>
                                     </li>
                                     <li>
                                       <div class="icon">
                                         <i class="fas fa-mobile-alt"></i>
                                       </div>
                                       <div class="data">
                                           {{ i.phone }}
                                       </div>
                                     </li>
                                     <li>
                                       <div class="icon">
                                         <i class="fas fa-envelope"></i>
                                       </div>
                                       <div class="data">
                                         {{ i.email }}
                                       </div>
                                     </li>
                                     <li>
                                       <div class="icon">
                                         <i class="fab fa-weebly"></i>
                                       </div>

                                     </li>
                                   </ul>


                         </div>

                         <div class="resume_item resume_skills">
                           <div class="title">
                             <p class="bold">skill's</p>
                           </div>
                           <ul>
                               {% for i in skill %}
                             <li>
                               <div class="skill_name">
                                 {{ i.skill }}
                               </div>
                             </li>
                               {% endfor %}

                           </ul>
                         </div>
                         <div class="resume_item resume_social">


                         </div>
                       </div>
                    </div>


                    <div class="resume_right">
                      <div class="resume_item resume_about">
                          <div class="title">
                             <p class="bold">About</p>
                           </div>
                          {% for i in about %}
                          <p>{{ i.backgound_description }}</p>
                              {% endfor %}
                      </div>
{% endfor %}
                      <div class="resume_item resume_work">

                          <div class="title">
                             <p class="bold">Work Experience</p>
                           </div>

                          <ul>
                              {% for j in work %}
                              <li>

                                  <div class="date">{{j.start_date}}-{{ j.end_date }}{{ j.still_working }}</div>
                                  <div class="info">
                                       <p class="semi-bold">{{j.job_title}}</p>
                                    <p class="pera">{{j.work_description}}</p>
                                  </div>
                              </li>

                          {% endfor %}
                      </div>
                      <div class="resume_item resume_education">
                        <div class="title">
                             <p class="bold">Education</p>
                           </div>
                        <ul>
                            {% for k in education %}
                              <li>
                                  <div class="date">{{ k.graduation_start_date }} - {{ k.graduation_end_date }}{{ k.still_studing }}</div>
                                  <div class="info">
                                       <p class="semi-bold">{{ k.institute_name }}-{{ k.institute_location }}</p>
                                      <p class="semi-bold">{{ k.degree }}</p>
                                      <p class="semi-bold">{{ k.field_of_study}}</p>
                                    <p class="pera">{{k.description}}</p>
                                  </div>
                              </li>
                            {% endfor %}
                          </ul>
                      </div>


                      </div>
                    </div><!--resume-->
                    </div>
                    </div>


          </div>




  <div class="container clearfix">
      </div>



<script>
    function printDiv()
    {
    var divContents = document.getElementById("background-effect").innerHTML;
    var orginalContents = document.body.innerHtml;
    document.body.innerHTML = divContents;
    window.print();

    }

</script>

  </div>
</body>
</html>


